<% if @group %>
  <div class="horizontal-layout">
    <%= render template: '/templates/buttons/create-task' %>
    <%= render template: '/templates/buttons/create-category' %>
  </div>
  <div class="horizontal-layout">
    <%= link_to "Administra...", '/group/view/' + @group.code.to_s + "/administrate", class: "yellow-button" %>
    <%= link_to "Borra el grup!", '/group/search', class: "red-button" %>
  </div>
<% end %>