<h2>Usuaris:</h2>
<table class="table">
  <% Membership.where(group_id: @group.id).each do |member| %>
    <tr>
      <% @listuser = User.find_by_id(member.user_id) %>
      <td style="width: 25px">
        <% if @listuser.avatar.attached? %>
          <%= image_tag(url_for(@listuser.avatar), class: "profile-image-small")%>
        <% else %>
          <%= image_tag("profile.png", class: "profile-image-small")%>
        <% end %>
      </td>
      <td>
        <%= link_to @listuser.username, '/profile/' + @listuser.id.to_s %>
      </td>
      <td><%= Membership.get_role_string(member.role) %></td>
    </tr>
  <% end %>
</table>