<script src="https://kit.fontawesome.com/7ef18f319f.js" crossorigin="anonymous"></script>

<%= javascript_pack_tag 'application' %>
<%= stylesheet_link_tag "home" %>
<%= stylesheet_link_tag "navbar" %>

<%= favicon_link_tag asset_path('favicon.png') %>

<title>Agendas</title>