<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>
<body>
<!-- navbar -->
<%= render template: 'templates/big-nav' %>

<!-- front intro page -->

<div class = "page">
  <div class="bignav-separator"></div>
      <%= render template: 'templates/alerts' %>

      <h1>
        Calendari
      </h1>

    <div id="calendar" style="height: 500px"></div>
    </div>
</div>
<%= render template: 'templates/footer' %>
</body>
</html>


