<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>
<body>
  <!-- navbar -->
  <%= render template: 'templates/navbar' %>
  <div class = "page">
    <div class="navbar-separator"></div>
    <h1>
      Contacte
    </h1>
    <% if @user %>
      <% if @user.role == "admin" %>
        <%= link_to "Admin dashboard!", '/admin', class: "red-button" %>
      <% end %>
    <% end %>
  </div>
  <%= render template: 'templates/footer' %>
</body>