<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>

  <title>Hello, world!</title>
</head>
<body>
  <!-- navbar -->
  <%= render template: 'templates/navbar' %>
  <div class = "page">
    <h1>
      Contacte
    </h1>
  </div>
</body>