<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>

  <title>Hello, world!</title>
</head>
<body>
  <!-- navbar -->
  <%= render template: 'templates/navbar' %>

  <!-- front intro page -->
  <% unless @user %>
  <div class = "page">
    <h1>
      Agenda
    </h1>
    <p>
      Wow this is a cool paragraph xDDDD
    </p>
  </div>
  <% else %>
  <div class = "page">
    <h1>
      La teva agenda <!-- Capitalist momento -->
    </h1>
    <%if @user.groups.count == 0 %>
      <h2>No formes part de ningun grup!</h2>
      <p>Per començar, crea un grup o uneixte a un grup existent:</p>
      <%= render template: 'templates/quick-start-buttons'%>
    <% else %>
      Els teus grups:
    <% end %>
  </div>
  <% end %>
</body>
</html>


