// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'reset';
@import 'variables';

.centered {
  text-align: center;
}

@mixin form-style($width, $height){
  .form-container {
    h1 {
      text-align: center;
      color: $color_white;
      font-weight: bold;

      padding-bottom: 30px;

      font-size: 48px;
    }

    .form-parameters {
      background-color: $color_white;
      border-radius: 10px;

      padding: 20px 20px;

      text-align: center;

      max-height: $height;
      width: $width;

      overflow: auto;

      .field {
        padding: 10px;
        text-align: left;
        float: left;
        display: inline-block;
        white-space: nowrap;

        &.centered {
          text-align: center;
          float: none;
        }


        br {
          display: block;
          margin: 5px 0;
        }

        .textbox {
          width: 100%;
          padding: 5px 0;
          border: none;
          border-bottom: 2px solid $color_black_2;
          border-width: 2px;
          transition: 0.5s;

          margin-bottom: 15px;

          &:focus {
            border-bottom: 2px solid $color_accent;
          }
        }

        .textboxlarge {
          width: 100%;
          padding: 10px;
          transition: 0.5s;

          font-size: 24px;
          text-align: center;

          box-sizing: border-box;
          margin-bottom: 15px;

          border: 2px solid $color_black_2;
          border-radius: 4px;

          &:focus {
            border: 2px solid $color_accent;
          }
        }

        .bigtextbox {
          width: inherit;
          height: 200px;
          padding: 10px;

          outline: none;

          transition: 0.5s;

          margin-bottom: 15px;

          resize: none;

          font-size: 18px;
          font-family: $fonts;

          border: 2px solid $color_black_2;
          border-radius: 4px;

          &:focus {
            border: 2px solid $color_accent;
          }
        }
      }

      .action {
        p {
          margin-top: 10px;
          font-size: 14px;
          margin-bottom: 15px;
        }

        a {
          text-decoration: none;
          color: $color_accent;
          transition: 0.5s;
          font-weight: bold;

          &:hover {
            color: $color_accent_selected;
          }
        }

        .submit-button {
          background-color: $color_accent;
          color: $color_white;
          text-decoration: none;
          font-weight: bold;
          border: none;
          padding: 12px 64px;
          border-radius: 4px;
          width: 100%;
          transition: .5s;

          &.big {
            height: 70px;
            font-size: 24px;
          }

          &:hover {
            background-color: $color_accent_selected;
          }
        }
      }
    }
  }
}


.alert {
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  &.red {
    background-color: $color_red_alert_primary;
    color: $color_red_alert_secondary;
    border-color: $color_red_alert_secondary;
  }

  &.green {
    background-color: $color_green_alert_primary;
    color: $color_green_alert_secondary;
    border-color: $color_green_alert_secondary;
  }
}

.navmargin {
  margin-left: $firstmargin;
  margin-right: $firstmargin;
}
.nicemargin {
  margin-left: $secondmargin;
  margin-right: $secondmargin;
}

.page {

  padding: $bodypaddingtop $bodypadding 10px $bodypadding;

  h1 {
    font-size: 72px;
    font-weight: bold;

    padding: 20px 0px;
  }

  h2 {
    font-size: 38px;
    font-weight: bold;
    padding: 0 10px 30px 0;
  }

  p {
    padding: 15px 0;
    font-size: 18px;

    &.no-important {
      color: #303030;
      font-size: 14px;
    }
  }

  @include form-style(auto, auto);
}

.centered-login-container {

  max-height: 80%;
  max-width: 80%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;

  @include form-style(300px, 300px);
}

body {
  font-family: $fonts;

  &.centered-login {
    background-color: $color_black_2;
  }
}

img {
  border-radius: 0%;

  &.profile-image-large {
    width: 300px;
  }

  &.profile-image-big {
    width: 100px;
  }

  &.profile-image-medium {
    width: 50px;
  }

  &.profile-image-small {
    width: 25px;
  }
}

.horizontal-layout {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

@mixin button($gradient){
  background-image: $gradient;
  background-size: 400%;
  border-radius: 5px;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
  font-weight: bold;

  width: 200px;

  &:hover {
    background-position: 100%;
  }
}

.green-button {
  @include button($green_gradient);
}

.blue-button {
  @include button($blue_gradient);
}

.red-button {
  @include button($red_gradient);
}

.yellow-button {
  @include button($yellow_gradient);
}

.table {
  border-collapse: collapse;
  height: 20px;
  width: 100%;

  td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
  }
}

.notification {

  padding: 20px;

  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: $color_blue_primary;

  box-shadow: 0px 0px 5px 0px $color_blue_primary;

  h2 {
    font-size: 32px;
    padding: 0px;
  }
}