// Varianles guais

$fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$color_black: #303030;
$color_black_2: #404040;
$color_white: #fff;
$color_white2: #dcdcdc;
$color_white3: #f5f5f5;

$color_accent: #469de2;
$color_accent_selected: #6fb2e7;

$color_green_primary: #14de4c;
$color_green_secondary: #71ff32;
$color_green_accent: #00ff00;
$green_gradient: linear-gradient(to bottom right, $color_green_primary, $color_green_secondary);

$color_blue_primary: #44aeff;
$color_blue_secondary: #07ffff;
$color_blue_accent: #3659d9;
$blue_gradient: linear-gradient(to bottom right, $color_blue_primary, $color_blue_secondary);


$border_radius: 5px;
$phone_width: 800px;
$hovertime: 0.3s;

$firstmargin: 5%;
$secondmargin: 8%;

$bodypaddingtop: 75px;
$bodypadding: 100px;

$color_red_primary: #f18888;
$color_red_secondary: #950000;
